<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeroxn.bbs.web.mapper.ProposeTopicMapper">
    <delete id="deleteProposeTopicByTopicId">
        delete from bbs_propose_topic where topic_id = #{topicId};
    </delete>
</mapper>